# The purpose of this notebook is to filter trip data to be prepared for appending station id data to the corresponding geo ID.

Source of the trip data: https://s3.amazonaws.com/tripdata/index.html

We are cleaning and using the data from October, 2013 to 2019.

In [14]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
#csv file from October 2013
raw_jan_data = pd.read_csv('2016-1.csv')
raw_jan_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1

In [15]:
raw_jan_data.shape

(509478, 15)

In [16]:
raw_jan_data.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [45]:
raw_jan_data.shape

(509478, 15)

In [17]:
st_geo_id = pd.read_csv('citibike_stations_geoid.csv')
st_geo_id.head()

,Unnamed: 0,id,name,lat,lon,first,last,rides,geoid
0,0,254.0,W 11 St & 6 Ave,40.735324,-73.998004,2013-06-01,2019-07-31,168076,36061006300
1,1,151.0,Cleveland Pl & Spring St,40.721816,-73.997203,2013-06-01,2019-07-31,445639,36061004100
2,2,352.0,W 56 St & 6 Ave,40.763406,-73.977225,2013-06-01,2016-12-31,122203,36061010400
3,3,490.0,8 Ave & W 33 St,40.751551,-73.993934,2013-06-01,2019-07-31,480463,36061010300
4,4,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,2013-06-01,2019-07-31,292217,36061003800

Joining the geo id from the station data to raw january data

In [44]:
new_data = raw_jan_data.join(st_geo_id.set_index(['id']), on=['start station id'], how='left')
new_data = new_data.drop(['Unnamed: 0', 'name', 'lat', 'lon', 'first', 'last', 'rides'], axis = 1).copy(
new_data.shape

(509478, 16)