# The purpose of this notebook is to filter trip data to be prepared for appending station id data to the corresponding geo ID.

Source of the trip data: https://s3.amazonaws.com/tripdata/index.html

We are cleaning and using data from January, 2017 to December, 2017

In [116]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
#csv file from October 2013
raw_data = pd.read_csv('2017-4.csv')
raw_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,195,2017-04-01 00:00:58,2017-04-01 00:04:14,217,Old Fulton St,40.702772,-73.993836,430,York St & Jay St,40.701485,-73.986569,25454,Subscriber,1966.0,1
1,585,2017-04-01 00:01:54,2017-04-01 00:11:40,490,8 Ave & W 33 St,40.751551,-73.993934,3158,W 63 St & Broadway,40.771639,-73.982614,25930,Subscriber,1995.0,1
2,665,2017-04-01 00:01:56,2017-04-01 00:13:01,504,1 Ave & E 16 St,40.732219,-73.981656,412,Forsyth St & Canal St,40.715816,-73.994224,27110,Subscriber,1987.0,1
3,262,2017-04-01 00:02:24,2017-04-01 00:06:47,445,E 10 St & Avenue A,40.727408,-73.981420,411,E 6 St & Avenue D,40.722281,-73.976687,28392,Subscriber,1961.0,1
4,134,2017-04-01 00:02:36,2017-04-01 00:04:50,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,19316,Subscriber,1967.0,2

In [117]:
raw_data.shape

(1315404, 15)

In [118]:
raw_data.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [119]:
raw_data.shape

(1315404, 15)

In [120]:
st_geo_id = pd.read_csv('citibike_stations_geoid.csv')
st_geo_id.head()

,Unnamed: 0,id,name,lat,lon,first,last,rides,geoid
0,0,254.0,W 11 St & 6 Ave,40.735324,-73.998004,2013-06-01,2019-07-31,168076,36061006300
1,1,151.0,Cleveland Pl & Spring St,40.721816,-73.997203,2013-06-01,2019-07-31,445639,36061004100
2,2,352.0,W 56 St & 6 Ave,40.763406,-73.977225,2013-06-01,2016-12-31,122203,36061010400
3,3,490.0,8 Ave & W 33 St,40.751551,-73.993934,2013-06-01,2019-07-31,480463,36061010300
4,4,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,2013-06-01,2019-07-31,292217,36061003800

Joining the geo id from the station data to raw january data

In [122]:
# Matching the geoids to the start station ID 
new_data = raw_data.join(st_geo_id.set_index(['id']), on=['start station id'], how='left').copy()

# Changing the column to start station geo ID
new_data.rename(columns = {'geoid': 'start_station_geoid'}, inplace = True)

# Dropping the columns carried over from station ID
new_data = new_data.drop(['Unnamed: 0', 'name', 'lat', 'lon', 'first', 'last', 'rides'], axis = 1).copy()

# Matching the geoids to the end station ID
new_data = new_data.join(st_geo_id.set_index(['id']), on=['end station id'], how='left').copy()
new_data = new_data.drop(['Unnamed: 0', 'name', 'lat', 'lon', 'first', 'last', 'rides'], axis = 1).copy()
new_data.rename(columns = {'geoid': 'end_station_geoid'}, inplace = True)

# Making all columns lower case
new_data.columns = map(str.lower, new_data.columns)
# Dropping columns we're not going to use
new_data = new_data.drop(['start station latitude','start station longitude','end station latitude', 'end station longitude', 'bikeid'], axis = 1).copy()
new_data.shape

(1315404, 12)

In [123]:
jan_geoids = new_data.to_csv('./2017_4_new.csv')