## Citibike Data Analysis

This notebook was made to remove unused columns in our citibike dataset
the original dataset is very large so we are shrinking it

In [1]:
import pandas as pd 
import numpy as np

### May - August

In [2]:
#May
may_raw = pd.read_csv('./raw/201705-citibike-tripdata.csv')
june_raw = pd.read_csv('./raw/201706-citibike-tripdata.csv')
july_raw = pd.read_csv('./raw/201707-citibike-tripdata.csv')
august_raw = pd.read_csv('./raw/201708-citibike-tripdata.csv')

In [3]:
may_raw.shape

(1523268, 15)

In [4]:
june_raw.shape

(1731594, 15)

In [5]:
july_raw.shape

(1735599, 15)

In [6]:
august_raw.shape

(1816498, 15)

In [7]:
may_raw.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,254,2017-05-01 00:00:13,2017-05-01 00:04:27,511,E 14 St & Avenue B,40.729387,-73.977724,394,E 9 St & Avenue C,40.725213,-73.977688,27695,Subscriber,1996.0,2
1,248,2017-05-01 00:00:19,2017-05-01 00:04:28,511,E 14 St & Avenue B,40.729387,-73.977724,394,E 9 St & Avenue C,40.725213,-73.977688,15869,Subscriber,1996.0,1
2,1120,2017-05-01 00:00:19,2017-05-01 00:19:00,242,Carlton Ave & Flushing Ave,40.697787,-73.973736,3083,Bushwick Ave & Powers St,40.712477,-73.941000,18700,Subscriber,1985.0,2
3,212,2017-05-01 00:00:24,2017-05-01 00:03:56,168,W 18 St & 6 Ave,40.739713,-73.994564,116,W 17 St & 8 Ave,40.741776,-74.001497,24981,Subscriber,1993.0,1
4,686,2017-05-01 00:00:29,2017-05-01 00:11:55,494,W 26 St & 8 Ave,40.747348,-73.997236,527,E 33 St & 2 Ave,40.744023,-73.976056,25407,Subscriber,1964.0,1

In [8]:
may_raw.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [9]:
final_may= may_raw.drop(columns=[ 'start station longitude','bikeid','end station longitude','end station latitude','start station latitude'])

In [10]:
final_june= june_raw.drop(columns=[ 'start station longitude','bikeid','end station longitude','end station latitude','start station latitude'])

In [11]:
final_july= july_raw.drop(columns=[ 'start station longitude','bikeid','end station longitude','end station latitude','start station latitude'])

In [12]:
final_august= august_raw.drop(columns=[ 'start station longitude','bikeid','end station longitude','end station latitude','start station latitude'])

In [13]:
final_may.head()

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,usertype,birth year,gender
0,254,2017-05-01 00:00:13,2017-05-01 00:04:27,511,E 14 St & Avenue B,394,E 9 St & Avenue C,Subscriber,1996.0,2
1,248,2017-05-01 00:00:19,2017-05-01 00:04:28,511,E 14 St & Avenue B,394,E 9 St & Avenue C,Subscriber,1996.0,1
2,1120,2017-05-01 00:00:19,2017-05-01 00:19:00,242,Carlton Ave & Flushing Ave,3083,Bushwick Ave & Powers St,Subscriber,1985.0,2
3,212,2017-05-01 00:00:24,2017-05-01 00:03:56,168,W 18 St & 6 Ave,116,W 17 St & 8 Ave,Subscriber,1993.0,1
4,686,2017-05-01 00:00:29,2017-05-01 00:11:55,494,W 26 St & 8 Ave,527,E 33 St & 2 Ave,Subscriber,1964.0,1

## Save to csv

In [ ]:
may_final = final_may.to_csv('./may_final.csv')

In [ ]:
june_final = final_june.to_csv('./june_final.csv')
july_final = final_july.to_csv('./july_final.csv')
august_final = final_august.to_csv('./august_final.csv')