## Citibike May-August Cleaning & adding geoid

This notebook was made to remove unused columns in our citibike dataset
the original dataset is

In [29]:
import pandas as pd 
import numpy as np
import requests
import urllib

### May - August

In [12]:
#May
may_raw = pd.read_csv('./201705-citibike-tripdata.csv')
june_raw = pd.read_csv('./201706-citibike-tripdata.csv')
july_raw = pd.read_csv('./201707-citibike-tripdata.csv')
august_raw = pd.read_csv('./201708-citibike-tripdata.csv')

In [41]:
may_raw.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

## Read Stations csv file

In [42]:
st_geo_id = pd.read_csv('../citbike stations/citibike_stations_geoid.csv')
st_geo_id.head()

,Unnamed: 0,id,name,lat,lon,first,last,rides,geoid
0,0,254.0,W 11 St & 6 Ave,40.735324,-73.998004,2013-06-01,2019-07-31,168076,36061006300
1,1,151.0,Cleveland Pl & Spring St,40.721816,-73.997203,2013-06-01,2019-07-31,445639,36061004100
2,2,352.0,W 56 St & 6 Ave,40.763406,-73.977225,2013-06-01,2016-12-31,122203,36061010400
3,3,490.0,8 Ave & W 33 St,40.751551,-73.993934,2013-06-01,2019-07-31,480463,36061010300
4,4,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,2013-06-01,2019-07-31,292217,36061003800

Joining the geo id from the station data to raw may data

## May

In [43]:
# Matching the geoids to the start station ID 
new_data = may_raw.join(st_geo_id.set_index(['id']), on=['start station id'], how='left').copy()

# Changing the column to start station geo ID
new_data.rename(columns = {'geoid': 'start_station_geoid'}, inplace = True)

# Dropping the columns carried over from station ID
new_data = new_data.drop(['Unnamed: 0', 'name', 'lat', 'lon', 'first', 'last', 'rides'], axis = 1).copy()

# Matching the geoids to the end station ID
new_data = new_data.join(st_geo_id.set_index(['id']), on=['end station id'], how='left').copy()
new_data = new_data.drop(['Unnamed: 0', 'name', 'lat', 'lon', 'first', 'last', 'rides'], axis = 1).copy()
new_data.rename(columns = {'geoid': 'end_station_geoid'}, inplace = True)

# Making all columns lower case
new_data.columns = map(str.lower, new_data.columns)

# Dropping columns we're not going to use
new_data = new_data.drop(['start station latitude','start station longitude','end station latitude', 'end station longitude', 'bikeid'], axis = 1).copy()
new_data.shape

(1523268, 12)

In [45]:
may_final = new_data
may_final.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'end station id', 'end station name', 'usertype',
       'birth year', 'gender', 'start_station_geoid', 'end_station_geoid'],
      dtype='object')

## June

In [48]:
# Matching the geoids to the start station ID 
new_data = june_raw.join(st_geo_id.set_index(['id']), on=['start station id'], how='left').copy()

# Changing the column to start station geo ID
new_data.rename(columns = {'geoid': 'start_station_geoid'}, inplace = True)

# Dropping the columns carried over from station ID
new_data = new_data.drop(['Unnamed: 0', 'name', 'lat', 'lon', 'first', 'last', 'rides'], axis = 1).copy()

# Matching the geoids to the end station ID
new_data = new_data.join(st_geo_id.set_index(['id']), on=['end station id'], how='left').copy()
new_data = new_data.drop(['Unnamed: 0', 'name', 'lat', 'lon', 'first', 'last', 'rides'], axis = 1).copy()
new_data.rename(columns = {'geoid': 'end_station_geoid'}, inplace = True)

# Making all columns lower case
new_data.columns = map(str.lower, new_data.columns)

# Dropping columns we're not going to use
new_data = new_data.drop(['start station latitude','start station longitude','end station latitude', 'end station longitude', 'bikeid'], axis = 1).copy()
new_data.shape

(1731594, 12)

In [49]:
june_final = new_data
june_final.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'end station id', 'end station name', 'usertype',
       'birth year', 'gender', 'start_station_geoid', 'end_station_geoid'],
      dtype='object')

In [51]:
june_final.head()

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,usertype,birth year,gender,start_station_geoid,end_station_geoid
0,1397,2017-06-01 00:00:02,2017-06-01 00:23:19,515,W 43 St & 10 Ave,3285,W 87 St & Amsterdam Ave,Subscriber,1967.0,1,3.606101e+10,3.606102e+10
1,1103,2017-06-01 00:00:13,2017-06-01 00:18:37,488,W 39 St & 9 Ave,297,E 15 St & 3 Ave,Subscriber,1981.0,1,3.606101e+10,3.606100e+10
2,1810,2017-06-01 00:00:20,2017-06-01 00:30:31,461,E 20 St & 2 Ave,465,Broadway & W 41 St,Subscriber,1982.0,1,3.606101e+10,3.606101e+10
3,1760,2017-06-01 00:00:24,2017-06-01 00:29:45,2009,Catherine St & Monroe St,527,E 33 St & 2 Ave,Subscriber,1973.0,2,3.606100e+10,3.606101e+10
4,2165,2017-06-01 00:00:33,2017-06-01 00:36:38,360,William St & Pine St,474,5 Ave & E 29 St,Subscriber,1985.0,1,3.606100e+10,3.606101e+10

## July

In [52]:
# Matching the geoids to the start station ID 
new_data = july_raw.join(st_geo_id.set_index(['id']), on=['start station id'], how='left').copy()

# Changing the column to start station geo ID
new_data.rename(columns = {'geoid': 'start_station_geoid'}, inplace = True)

# Dropping the columns carried over from station ID
new_data = new_data.drop(['Unnamed: 0', 'name', 'lat', 'lon', 'first', 'last', 'rides'], axis = 1).copy()

# Matching the geoids to the end station ID
new_data = new_data.join(st_geo_id.set_index(['id']), on=['end station id'], how='left').copy()
new_data = new_data.drop(['Unnamed: 0', 'name', 'lat', 'lon', 'first', 'last', 'rides'], axis = 1).copy()
new_data.rename(columns = {'geoid': 'end_station_geoid'}, inplace = True)

# Making all columns lower case
new_data.columns = map(str.lower, new_data.columns)

# Dropping columns we're not going to use
new_data = new_data.drop(['start station latitude','start station longitude','end station latitude', 'end station longitude', 'bikeid'], axis = 1).copy()
new_data.shape

(1735599, 12)

In [53]:
july_final = new_data
july_final.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'end station id', 'end station name', 'usertype',
       'birth year', 'gender', 'start_station_geoid', 'end_station_geoid'],
      dtype='object')

In [54]:
july_final.head()

,tripduration,starttime,stoptime,start station id,start station name,end station id,end station name,usertype,birth year,gender,start_station_geoid,end_station_geoid
0,364,2017-07-01 00:00:00,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,3107,Bedford Ave & Nassau Ave,Subscriber,1986.0,1,3.604706e+10,3.604705e+10
1,2142,2017-07-01 00:00:03,2017-07-01 00:35:46,293,Lafayette St & E 8 St,3425,2 Ave & E 104 St,Subscriber,1981.0,1,3.606101e+10,3.606102e+10
2,328,2017-07-01 00:00:08,2017-07-01 00:05:37,3242,Schermerhorn St & Court St,3397,Court St & Nelson St,Subscriber,1984.0,2,3.604700e+10,3.604701e+10
3,2530,2017-07-01 00:00:11,2017-07-01 00:42:22,2002,Wythe Ave & Metropolitan Ave,398,Atlantic Ave & Furman St,Subscriber,1985.0,1,3.604706e+10,3.604700e+10
4,2534,2017-07-01 00:00:15,2017-07-01 00:42:29,2002,Wythe Ave & Metropolitan Ave,398,Atlantic Ave & Furman St,Subscriber,1982.0,2,3.604706e+10,3.604700e+10

## August

In [55]:
# Matching the geoids to the start station ID 
new_data = august_raw.join(st_geo_id.set_index(['id']), on=['start station id'], how='left').copy()

# Changing the column to start station geo ID
new_data.rename(columns = {'geoid': 'start_station_geoid'}, inplace = True)

# Dropping the columns carried over from station ID
new_data = new_data.drop(['Unnamed: 0', 'name', 'lat', 'lon', 'first', 'last', 'rides'], axis = 1).copy()

# Matching the geoids to the end station ID
new_data = new_data.join(st_geo_id.set_index(['id']), on=['end station id'], how='left').copy()
new_data = new_data.drop(['Unnamed: 0', 'name', 'lat', 'lon', 'first', 'last', 'rides'], axis = 1).copy()
new_data.rename(columns = {'geoid': 'end_station_geoid'}, inplace = True)

# Making all columns lower case
new_data.columns = map(str.lower, new_data.columns)

# Dropping columns we're not going to use
new_data = new_data.drop(['start station latitude','start station longitude','end station latitude', 'end station longitude', 'bikeid'], axis = 1).copy()
new_data.shape

(1816498, 12)

In [56]:
august_final = new_data
august_final.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'end station id', 'end station name', 'usertype',
       'birth year', 'gender', 'start_station_geoid', 'end_station_geoid'],
      dtype='object')

## Save to csv

In [46]:
may_final = may_final.to_csv('./may_final.csv')

In [57]:
june_final = june_final.to_csv('./june_final.csv')
july_final = july_final .to_csv('./july_final.csv')
august_final = august_final.to_csv('./august_final.csv')