## Adding geoid to the Collision Data

Add geoid to the collision data classify where each accident occurred. 
The purpose of this Notebook, is to add a column to the collisions dataset with the geoid corresponding to the census tract which the collision occured in.

In doing this we will be importing from the requests and urllib module

In [23]:
import pandas as pd 
import numpy as np
import requests
import urllib

#### Import dataset

In [24]:
#This is a table containing all of the collisions that occurred in NYC from 2015 to 2019.
#This data was cleaned first and the cleaning process can be found in collisionClean.ipynb
collisions_raw = pd.read_csv('./collisions.csv')

In [25]:
collisions_raw.shape

(17152, 30)

#### Get Latitude Longitude

In [26]:
collisions_raw .columns

Index(['Unnamed: 0', 'CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE',
       'LATITUDE', 'LONGITUDE', 'LOCATION', 'ON STREET NAME',
       'CROSS STREET NAME', 'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

The latitude longitude of the columns is located in the columns named  'LATITUDE', 'LONGITUDE'

In [27]:
#This gets the (lat,lon) of all of the collisions in NYC 
collisions_lat = list(collisions_raw['LATITUDE'])
collisions_lon = list(collisions_raw['LONGITUDE'])

#create the latitude longitude into a list array
collisions_lat_lon = [(collisions_lat[i],collisions_lon[i]) for i in range(len(collisions_lat))]

In [28]:
#check the array of latitude longitudes.
collisions_lat_lon[1:5]

[(40.6383073, -73.9945377),
 (40.727846, -73.9822272),
 (40.738325, -73.8855916),
 (40.6853239, -73.9807025)]

In [29]:
len(collisions_lat_lon)

17152

The number of latitdue longitude arrays in the data are the same as the ones in



#### Use API to find geoid through latitude, longitude

This uses a freely available goverment API that allows us to get the geoid based on the (lat,lon) of each collision

Since the data is pretty big, I decided to divide it by thousands and go thorough the for loop

In running through this for loop, we found that some of the latitude and longitude was not filtered out properly. There were some values in the 

So to solve this problem, we created an if statement inside of our for loop that would printout

In [38]:
#empty list that will recieve the geoids of the latitude longitude
collisions_geoid = []

#loop through the list of 
for lat, lon in collisions_lat_lon: 
    #Encode parameters 
    params = urllib.parse.urlencode({'latitude': lat, 'longitude':lon, 'format':'json'})
    #Contruct request URL
    url = 'https://geo.fcc.gov/api/census/block/find?' + params

    #Get response from API
    response = requests.get(url)

    #Parse json in response
    data = response.json()
    
    returned_FIPS = (data['Block']['FIPS'])
    if returned_FIPS == None:
         print(lat,lon)
         collisions_geoid.append(None)
    else:
        geoid= returned_FIPS[:11]
        collisions_geoid.append(geoid)

0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0
0.0 0.0

#### Add the geo-id to the original dataset

In [46]:
collisions_test= collisions_raw.copy()s

In [63]:
collisions_test.shape

(17152, 31)

In [47]:
collisions_test['geoid']=collisions_geoid

In [48]:
collisions_test.head()

,Unnamed: 0,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,geoid
0,344,2015-01-01,2:39,BROOKLYN,11232.0,40.647486,-74.000663,"(40.647486, -74.0006631)",7 AVENUE,41 STREET,...,NaN,NaN,NaN,3145993,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN,36047008600
1,428,2015-01-02,1:50,BROOKLYN,11219.0,40.638307,-73.994538,"(40.6383073, -73.9945377)",NEW UTRECHT AVENUE,47 STREET,...,NaN,NaN,NaN,3146315,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN,36047022200
2,435,2015-01-02,20:00,MANHATTAN,10009.0,40.727846,-73.982227,"(40.727846, -73.9822272)",EAST 10 STREET,AVENUE A,...,NaN,NaN,NaN,3146150,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN,36061003400
3,554,2015-01-02,22:00,QUEENS,11373.0,40.738325,-73.885592,"(40.738325, -73.8855916)",QUEENS BOULEVARD,ALBION AVENUE,...,NaN,NaN,NaN,3146904,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN,36081047900
4,662,2015-01-02,11:30,BROOKLYN,11217.0,40.685324,-73.980703,"(40.6853239, -73.9807025)",ATLANTIC AVENUE,3 AVENUE,...,NaN,NaN,NaN,3147234,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN,36047003900

In [61]:
#delete nonetype argumentsfor geoid column where latitude or longitude is 0 
collisions_test_new = collisions_test[collisions_test['LATITUDE']!=0]
collisions_test_new.shape

(17135, 31)

In [62]:
collisions_test_new = collisions_test_new[collisions_test_new['LONGITUDE']!=0]
collisions_test_new.shape

(17135, 31)

In [67]:
# int conversion if it works it works
collisions_test_new['geoid'] = collisions_test_new['geoid'].astype(int)
collisions_test_new.head()

,Unnamed: 0,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,geoid
0,344,2015-01-01,2:39,BROOKLYN,11232.0,40.647486,-74.000663,"(40.647486, -74.0006631)",7 AVENUE,41 STREET,...,NaN,NaN,NaN,3145993,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN,36047008600
1,428,2015-01-02,1:50,BROOKLYN,11219.0,40.638307,-73.994538,"(40.6383073, -73.9945377)",NEW UTRECHT AVENUE,47 STREET,...,NaN,NaN,NaN,3146315,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN,36047022200
2,435,2015-01-02,20:00,MANHATTAN,10009.0,40.727846,-73.982227,"(40.727846, -73.9822272)",EAST 10 STREET,AVENUE A,...,NaN,NaN,NaN,3146150,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN,36061003400
3,554,2015-01-02,22:00,QUEENS,11373.0,40.738325,-73.885592,"(40.738325, -73.8855916)",QUEENS BOULEVARD,ALBION AVENUE,...,NaN,NaN,NaN,3146904,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN,36081047900
4,662,2015-01-02,11:30,BROOKLYN,11217.0,40.685324,-73.980703,"(40.6853239, -73.9807025)",ATLANTIC AVENUE,3 AVENUE,...,NaN,NaN,NaN,3147234,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN,36047003900

In [68]:
#save to csv
collisions_test_new.to_csv('./collisions_geoid.csv',index=False)